html, body {
  height: 100%;
}

img{
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/*.fotorama__wrap.fotorama__wrap--css3.fotorama__wrap--slide.fotorama__wrap--toggle-arrows,*/
/*.fotorama__stage__frame.fotorama__loaded.fotorama__loaded--img.fotorama__active img {*/
/*  width: 100% !important;*/
/*}*/

.hov_color:hover{
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}


.ui.menu .item:before {
  width: 0;
}

.ui.menu:not(.secondary):not(.text):not(.tabular):not(.borderless) > .container > .item:not(.right):not(.borderless):first-child {
  border-left: none;
}

.ui.divider.line:not(.vertical):not(.horizontal) {
  border-top: 1px solid rgb(245, 245, 245);
  border-bottom: 1px solid rgba(245, 245, 245, 0.5);
  margin: 20px auto;
  width: 73px;
}

.center-text {
  text-align: center;
}

.clip-text {
  font-weight: bold;
  line-height: 1;
  position: relative;
  display: inline-block;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url(../img/background2.jpg);
}

.clip-text:after {
  position: absolute;
  z-index: -1;
  top: .125em;
  right: .125em;
  bottom: .125em;
  left: .125em;
  background-color: #000;
}

.clip-text:before {
  z-index: -2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: inherit;
}

.clip-text:after,
.clip-text:before {
  position: absolute;
  content: '';
}

.ff-bad{
  font-family: 'Bad Script', cursive;
}

.first-screen {
  /*background-image: url(../img/back.jpg);*/
  background: #263238;
}

.fw-700 {
  font-weight: bold;
}

.full-width {
  width: 100%;
}


.fs-16{
  font-size: 16px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.fs-45{
  font-size: 45px !important;
}

.fs-48{
  font-size: 48px !important;
}

.fs-60 {
  font-size: 60px;
}

.icon-large{
  font-size: 6rem;
}

.mb-20{
  margin-bottom: 20px;
}

.no-border {
  border: none !important;
}

.no-shadow {
  webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.op-50{
  opacity: 50%;
}

.pa-0{
  padding: 0;
}

.pa-desktop{
  padding: .5em .75em;
}

.pa-top20{
  padding-top: 20px;
}

.pa-50-20{
  padding: .50px .20px;
}

.pa-50{
  padding: 50px !important;
}

.txt-center {
  text-align: center;
}

.transparent-background {
  background: transparent !important;
}

.uppercase-text {
  text-transform: uppercase;
}

.white-f5-color {
  color: #f5f5f5 !important;
}

/**/

.menu-no-border:before {
  background: none;
}
.ma-0{
  margin: 0px;
}

.ma-5{
  margin-top: 5px;
}

.ma-desktop{
  margin: .25em;
}

.mt-50{
  margin-top: 50px!important;
}

.vm-50 {
  margin: 50px 0;
}

.vm-100 {
  margin: 100px 0;
}

.wi-500{
  width:500px !important;
}

.wi-100{
  width: 100%;!important;
}
